.nav {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 200;
}

#nav-mobile {
   margin-right: 20px;
   padding-right: 15px;
}

.nav nav {
   box-shadow: none;
}

.login-signup {
   margin-right: 20px;
}

.nav ul li {
   color: white;
   cursor: pointer;
}

.nav .nav-non-link {
   padding: 0 0px;
}

.nav-non-link:hover {
   border-bottom: 2px solid white;
   background-color: initial;
}

.nav ul li:hover {
   border-bottom: 2px solid white;
   background-color: initial;
}
.airbnb-logo {
   font-size: 40px;
   margin-left: 20px;
   margin-top: 0px;
}
